*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background-color: red;
}

body {
    margin: 0;
    font-family: 'sans-serif';
}

img {
    display: block;
    max-width: 100%;
}

.mb-0 {
    margin-bottom: 0;
}

p {
    margin: 10px 0 !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.mar-auto{
   margin: 0 auto;
}

/* Typography */

.fa-small {
    font-size: 16px !important;
}

/* login */
.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

