*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --background-color: red;
}

body {
    margin: 0;
    font-family: 'sans-serif';
}

img {
    display: block;
    max-width: 100%;
}

.mb-0 {
    margin-bottom: 0;
}

/* Typography */


p {
    margin: 0.85em;
}

/* login */
.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}
